@import "tailwindcss";

@font-face {
    font-family: 'Electrolize';
    src: url('./assets/fonts/Electrolize-Regular.ttf') format('truetype');
}

/*
@font-face {
    font-family: 'Quantico';
    src: url('./assets/fonts/Quantico/Quantico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quantico';
    src: url('./assets/fonts/Quantico/Quantico-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Quantico';
    src: url('./assets/fonts/Quantico/Quantico-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
} */


@font-face {
    font-family: 'Melete';
    src: url('./assets/fonts/Melete/Melete-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Melete';
    src: url('./assets/fonts/Melete/Melete-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Melete';
    src: url('./assets/fonts/Melete/Melete-UltraLight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Melete';
    src: url('./assets/fonts/Melete/Melete-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Melete';
    src: url('./assets/fonts/Melete/Melete-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron/Orbitron Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron/Orbitron Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron/Orbitron Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron/Orbitron Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./assets/fonts/FiraCode/woff2/FiraCode-Light.woff2') format('woff2'),
        url("./assets/fonts/FiraCode/woff/FiraCode-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./assets/fonts/FiraCode/woff2/FiraCode-Regular.woff2') format('woff2'),
        url("./assets/fonts/FiraCode/woff/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./assets/fonts/FiraCode/woff2/FiraCode-Medium.woff2') format('woff2'),
        url("./assets/fonts/FiraCode/woff/FiraCode-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./assets/fonts/FiraCode/woff2/FiraCode-SemiBold.woff2') format('woff2'),
        url("./assets/fonts/FiraCode/woff/FiraCode-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./assets/fonts/FiraCode/woff2/FiraCode-Bold.woff2') format('woff2'),
        url("./assets/fonts/FiraCode/woff/FiraCode-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code VF';
    src: url('./assets/fonts/FiraCode/woff2/FiraCode-VF.woff2') format('woff2-variations'),
        url('./assets/fonts/FiraCode/woff/FiraCode-VF.woff') format('woff-variations');
    /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
    font-weight: 300 700;
    font-style: normal;
}

*::selection {
    background-color: var(--color-dark-700);
    /* color: var(--color-primary-100); */
    will-change: transform, color, text-shadow, filter, opacity;
}

.hoverlight:hover {
    text-shadow: 0 0 15px;
    /* font-size: 1.02em; */
    /* transform: scale(1.1); */
}

.hide-scrollbar {
    scrollbar-width: none;
    overflow: auto;
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.hovertrans:hover,
.inline-hovertrans:hover {
    text-shadow: 0 0 10px;
    transform: scale(1.02);
}

.hover-primary:hover {
    color: var(--color-primary-200)
        /* oklch(0.8 0.1938 262.59) */
    ;
}

.active-primary:active {
    color: var(--color-primary-200)
        /* oklch(0.8 0.1938 262.59) */
    ;
}

.cursor-target {
    cursor: pointer;

    @media (pointer: fine) {
        cursor: none !important;
    }
}

.inline-hovertrans {
    display: inline-block;
}

* {
    @media (pointer: fine) {
        cursor: none !important;
    }
}

.no-cursor {
    @media (pointer: fine) {
        cursor: none !important;
    }
}

.hoverlight {
    transition: text-shadow 0.3s;
}

.hovertrans,
.inline-hovertrans {
    transition: all 0.3s;
    user-select: none;
}

.color-on-hover {
    /* filter: grayscale(100%); */
    /* transition: filter .8s cubic-bezier(0.215, 0.610, 0.355, 1); */
}


.color-on-hover::after {
    @media (pointer: fine) {
        background: var(--color-dark-100);
        /* backdrop-filter: ; */
        backdrop-filter: grayscale(50%);
        transition: all .8s cubic-bezier(0.215, 0.610, 0.355, 1);
        /* 正片叠底 */
        mix-blend-mode: multiply;
    }

    border-radius: inherit;
    overflow: hidden;
    content: "";
    position: absolute;
    inset: 0;
    z-index: 20;
    pointer-events: none;
}


.color-on-hover:hover::after {
    background: none;
    backdrop-filter: none;
}

.translucent {
    background: #02021155;
    backdrop-filter: blur(5px);
}

.color-on-hover:hover {
    /* filter: grayscale(0); */
    filter: none;
}


.melete {
    font-family: var(--font-melete);
    letter-spacing: -0.2em;
}

@theme {
    --font-electrolize: 'Electrolize', Geist Variable, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    --font-firacode: 'Fira Code', Geist Variable, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Heiti SC, WenQuanYi Micro Hei, normal;
    --font-orbitron: 'Orbitron', Geist Variable, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Heiti SC, WenQuanYi Micro Hei, normal;
    --font-melete: 'Melete', Geist Variable, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Heiti SC, WenQuanYi Micro Hei, normal;
    /* --font-quantico: 'Quantico', Geist Variable, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Heiti SC, WenQuanYi Micro Hei, normal; */

    --breakpoint-hg: 1680px;

    --color-dark-900: oklch(0.1 0.0444 277.41);
    --color-dark-900: oklch(0.1 0.0444 277.41);
    --color-dark-850: oklch(0.15 0.0258 276.15);
    --color-dark-800: oklch(0.2 0.0258 276.15);
    --color-dark-750: oklch(0.25 0.0444 277.41);
    --color-dark-700: oklch(0.3 0.0444 277.41);
    --color-dark-600: oklch(0.4 0.0444 277.41);
    --color-dark-500: oklch(0.5 0.0444 277.41);
    --color-dark-400: oklch(0.6 0.0444 277.41);
    --color-dark-300: oklch(0.7 0.0444 277.41);
    --color-dark-200: oklch(0.8 0.0444 277.41);
    --color-dark-100: oklch(0.9 0.0444 277.41);
    --color-dark-50: oklch(0.95 0.0444 277.41);

    --color-xme-red-0: oklch(1 0.18993 13.361);
    --color-xme-red-50: oklch(0.95 0.18993 13.361);
    --color-xme-red-100: oklch(0.9 0.18993 13.361);
    --color-xme-red-200: oklch(0.8 0.18993 13.361);
    --color-xme-red-300: oklch(0.7 0.18993 13.361);
    --color-xme-red-400: oklch(0.6 0.18993 13.361);
    --color-xme-red-500: oklch(0.5 0.18993 13.361);
    --color-xme-red-600: oklch(0.4 0.18993 13.361);
    --color-xme-red-700: oklch(0.3 0.18993 13.361);
    --color-xme-red-800: oklch(0.2 0.18993 13.361);
    --color-xme-red-900: oklch(0.1 0.18993 13.361);

    --color-primary-0: oklch(1 0.1938 262.59);
    --color-primary-50: oklch(0.95 0.1938 262.59);
    --color-primary-100: oklch(0.9 0.1938 262.59);
    --color-primary-200: oklch(0.8 0.1938 262.59);
    --color-primary-300: oklch(0.7 0.1938 262.59);
    --color-primary-400: oklch(0.6 0.1938 262.59);
    --color-primary-500: oklch(0.5 0.1938 262.59);
    --color-primary-600: oklch(0.4 0.1938 262.59);
    --color-primary-700: oklch(0.3 0.1938 262.59);
    --color-primary-800: oklch(0.2 0.1938 262.59);
    --color-primary-900: oklch(0.1 0.1938 262.59);

    --color-primary3-0: oklch(1 0.1938 300.94);
    --color-primary3-50: oklch(0.95 0.1938 300.94);
    --color-primary3-100: oklch(0.9 0.1938 300.94);
    --color-primary3-200: oklch(0.8 0.1938 300.94);
    --color-primary3-300: oklch(0.7 0.1938 300.94);
    --color-primary3-400: oklch(0.6 0.1938 300.94);
    --color-primary3-500: oklch(0.5 0.1938 300.94);
    --color-primary3-600: oklch(0.4 0.1938 300.94);
    --color-primary3-700: oklch(0.3 0.1938 300.94);
    --color-primary3-800: oklch(0.2 0.1938 300.94);
    --color-primary3-900: oklch(0.1 0.1938 300.94);
}

img,
a {
    -webkit-user-drag: none;
}

body {
    font-family: Geist Variable, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    overflow-x: hidden;
    letter-spacing: 0.05em;
}

.afdian-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask: url('./assets/svgs/afdian.svg') no-repeat center / contain;
    -webkit-mask: url('./assets/svgs/afdian.svg') no-repeat center / contain;
    vertical-align: middle;
}

.cloudmusic-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask: url('./assets/svgs/neteasecloudmusic.svg') no-repeat center / contain;
    -webkit-mask: url('./assets/svgs/neteasecloudmusic.svg') no-repeat center / contain;
    vertical-align: middle;
}

.wakatime-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask: url('./assets/svgs/wakatime.svg') no-repeat center / contain;
    -webkit-mask: url('./assets/svgs/wakatime.svg') no-repeat center / contain;
    vertical-align: middle;
}

input,
textarea {
    caret-color: var(--color-primary-200);
}

html {
    scrollbar-gutter: stable;
}


::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}


::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-700);
    transition: all 0.2s;
    border-radius: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark-700) #00000000;
}